body{
  background-color: #e3fdfd;
}

h1{
  color:#66BFBF;
}

 h3{
  color:#66BFBF;
}

hr{
  background-color:white;
  border-style: none;
  border-top:dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%; 
}

