
<%- include("header") -%>

<h2> This is the about page.</h2>

<p>
  Hummus is a Middle Eastern invention, and I am thankful for it. Chickpeas are a sweet and nutty legume that become incredibly creamy when blended, especially once you add a few spoonfuls of sesame tahini and a healthy glug of good olive oil. Lemon juice gives the blend a tart balance, while garlic adds its own pungent punch. It’s fantastic with just these five ingredients (plus salt and pepper), but can be even better with spices like sumac, cumin, and smoked paprika.
</p>

<%- include("footer") -%>
