<%- include("header") -%>

<h2>About</h2>

<p> This web application project is created by Deepa Subramanian.<br />
  This is a part of the Udemy full stack web development course conducted by Angela Yu.
</p>

<%- include("footer") -%>
