body {
  font-family: "Montserrat";
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat";
  font-weight: 800;
}

p {
  color: #8f8f8f;
}

a {
  color: black;
}

/* Heading */
.big-heading {
  font-family: "Montserrat";
  font-size: 3rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 2.5rem;
  line-height: 1.5;
}

/*Containers*/
.container-fluid {
  padding: 7% 15%;
}

/*Page Section*/
.colored-section {
  background-color: #ff4c68;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

/* Navigation bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 3.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-links {
  font-size: 1.2rem;
  font-family: "Monserrat light";
}

/* Download buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/*Title section*/
#title {
  background-color: #ff4c68;
  color: white;
  text-align: left;
}

#title .container-fluid {
  padding: 3% 15% 7%;
}

/* Title Image */
.rotate-15 {
  width: 50%;
  transform: rotate(15deg);
  position: absolute;
  right: 20%;
}

/* Features section */
#features {
  position: relative;
}
.feature-title {
  font-size: 1.25rem;
}

.feature-box {
  padding: 4.5%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* Testimonials Section */
#testimonials {
  background-color: #ef8172;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item {
  padding: 7% 15%;
}

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing section */
#pricing {
  padding: 100px;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}

/* CTA section - styled with other css*/
 
/* Footer Section*/
.social-icon {
  color: black;
  margin: 20px 10px;
}

.copyright {
  font-size: x-small;
  color: #8f8f8f;
}

/* Adding Media Query for responsive site for tablet and mobile view */
@media (max-width: 1028px) {
  #title {
    text-align: center;
  }
  .rotate-15 {
    position: static;
    transform: rotate(0);
  }
}
